body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,figure,button,input,textarea,th,td,iframe{margin:0;padding:0;border: none;}
body,button,input,select,textarea{font:12px/1 Tahoma,Helvetica,Arial,SimSun,宋体}
h1,h2,h3,h4,h5,h6{font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu}
h1{font-size:18px;}h2{font-size:16px;}h3{font-size:14px;}h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#505558;}
a,input[type=button],button,input[type=submit]{-moz-transition: all .2s;-webkit-transition: all .2s;-o-transition: all .2s;transition: all .2s;}
a:hover{text-decoration:none;color:#FCA504;}
a:active{color:#000;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
q:before,q:after{content:'';}
legend{color:#000;}
fieldset,img{border:none;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
hr{border:none;height:1px;background: #B0B0B0;margin:10px 0; }
/*html{background:url("../other/XkcBpIiVaInlLJr9FZWAQA7")}*/
html{overflow-y:scroll;}


/*清除浮动*/
.clearfix,.c{zoom:1;clear:both;}
.clearfix:after,.clearfix:before,.c:after,.c:before{display:table;content: "";}
.clearfix:after,.c:after{clear: both;}

/*页面居中*/
.container{margin:0 auto; width:1100px;}

/*左右浮动*/
.fl{float:left;}
.fr{float:right;}

/*文字对齐*/
.tr{text-align: right;}
.tl{text-align: left;}
.tc{text-align: center;}

